{% extends 'base.html' %}


{% block content %}
<div class="container py-5">
    <h1 class="text-center">Update Your Profile</h1>
    <form action="{{ url_for('auth.update_user') }}" method="post">
        {{ form.csrf_token }}
        <div class="mb-3 mt-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(placeholder='Enter username', class="form-control") }}
            <p class="text-muted"><small>Minimum number of symbols is 5. Letters, digits and @/./+/-/_ only.</small></p>
            {% if form.username.errors %}
            {% for error in form.username.errors %}
            <p class="text-danger fw-bold">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3 mt-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(placeholder="Enter email", class="form-control") }}
            <p class="text-muted"><small>Enter a valid email address.</small></p>
            {% if form.email.errors %}
            {% for error in form.email.errors %}
            <p class="text-danger fw-bold">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">Update</button>
        </div>
    </form>
</div>
{% endblock %}