{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="container text-center">
        <h1>{{ recommendation }}</h1>
        <div class="row mx-auto" style="width: 500px;">
            <div class="col">
                <p><strong>Recommended by:</strong> <a href="" class="text-decoration-none">
                        @{{ recommendation.user}}</a></p>
            </div>
            <div class="col">
                <form action="{{ url_for('main.save_unsave_recommendation', id=recommendation.id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% if g.user %}
                    {% if recommendation in g.user.saved_recommendations %}
                    <button class="btn btn-secondary">Recommendation saved</button>
                    {% else %}
                    <button class="btn btn-secondary">Save Recommendation</button>
                    {% endif %}
                    {% else %}
                    <button class="btn btn-secondary">Save Recommendation</button>
                    {% endif %}
                </form>
            </div>
        </div>
        <h3>Recommendation of fiction type:
            <a href="">{{ recommendation.fiction_type.name.capitalize() }}</a>
        </h3>
        <h4>
            {% for tag in recommendation.tags %}
            <a href="" class="text-decoration-none">
                <span class="badge rounded-pill bg-info">
                    {{ tag.name }}
                </span>
            </a>
            {% endfor %}
        </h4>
    </div>
    {% if g.user == recommendation.user %}
    <div class="container py-5 text-center">
        <a href="{{ url_for('main.update_recommendation', id=recommendation.id) }}" class="btn btn-primary">
            Update Recommendation</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal">
            Delete Recommendation
        </button>
        <div class="modal" id="myModal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Are you sure?</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="btn-group">
                            <form action="{{ url_for('main.delete_recommendation', id=recommendation.id) }}"
                                method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <!-- {% if config.WTF_CSRF_ENABLED %}
                                {% endif %} -->
                                <button class="btn btn-danger" type="submit">Yes</button>
                            </form>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-container">
                    <h4 class="text-center">Short Description</h4>
                    <p class="text-break">{{ recommendation.short_description }}</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-container">
                    <h4 class="text-center">Opinion</h4>
                    <p class="text-break">{{ recommendation.opinion }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="btn-group">
                    <form action="{{ url_for('main.like_recommendation', id=recommendation.id) }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button class="btn btn-primary" type="submit">
                            {{ positive_reactions }} like{{ positive_reactions|pluralize }}</button>
                    </form>
                    <form action="{{ url_for('main.dislike_recommendation', id=recommendation.id) }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <button class="btn btn-primary" type="submit">
                            {{ negative_reactions }} dislike{{negative_reactions|pluralize}}</button>
                    </form>
                </div>
                {% if reaction %}
                {% if reaction.is_positive == True %}
                <p><strong><small>You liked this recommendation.</small></strong></p>
                {% elif reaction.is_positive == False %}
                <p><strong><small>You disliked this recommendation.</small></strong></p>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container">
        <a href="{{ url_for('main.comment_recommendation', id=recommendation.id) }}"
            class="text-decoration-none">Comment this recommendation</a>
    </div>
</div>
{% endblock %}