<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Recommendlee</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">

            {% if not g.user %}
            <ul class="nav nav-pills justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('auth.register') }}">Register</a>
                </li>
            </ul>
            {% else %}
            <ul class="nav nav-pills justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="">{{ g.user }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.update_user') }}">Update Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('auth.logout') }}">Logout</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>